[package]
name = "slime_seed_finder"
version = "0.1.0"
authors = ["Badel2 <2badel2@gmail.com>"]
edition = "2018"

[lib]
name = "slime_seed_finder"

[profile.release]
lto = true

[features]
cubiomes_rs = ["libc"]
wasm = ["stdweb", "palette"]

[dependencies]
clap = { version = "2", optional = true }
libc = { version = "0.2", optional = true }
stdweb = { version = "0.4", optional = true }
serde = { version = "1.0", optional = false }
serde_derive = { version = "1.0", optional = false }
serde_json = { version = "1.0", optional = false }
ndarray = "0.12.1"
palette = { version = "0.4", optional = true }

[[bin]]
name = "slime_seed_finder"
path = "src/main.rs"
required-features = ["clap"]

[[bin]]
name = "wasm_gui"
path = "src/wasm_gui.rs"
required-features = ["stdweb"]

[[example]]
name = "rendermap"
required-features = ["cubiomes_rs"]

